{% extends 'base.html' %}
{% load static %}

{% block title %}NGワード・除外セラー設定{% endblock %}

{% block contents %}
 <section>
	<div class="section-header">
		<h1> NGワード・除外セラー設定 </h1>
	</div>
	<p></p>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div>
						<nav class="nav nav-tabs">
							<a class="nav-link" href="{% url 'setting:blacklist-word' %}">NGワード登録</a>
							<a class="nav-link active" href="{% url 'setting:blacklist-seller' %}">除外セラー登録</a>
						</nav>

					</div>
					<div>
						{% if form.errors %}
							{% for field in form %}
								<div class="text-danger">
									{% for error in field.errors %}
										{{field.label}}: {{ error|escape }}
									{% endfor %}
								</div>
							{% endfor %}
						{% endif %}
						{% if error_message %}
							<div class="text-danger">
									{{error_message}}
							</div>
						{% endif %}
						{% if result %}
							<div class="text-primary">
								{{ form.blacklist_sellers.label }} : {{result}}を登録しました。
							</div>
						{% endif %}
					</div>
					<div class="card-body">
						<form method="POST">
							{% csrf_token %}
							{{ form.non_field_errors }}
							<div class='col-offset-2 col-10'>
								<button type='submit' class='btn btn-primary'>登録</button>
							</div>
							<div class='form-group mt-2'>
								<labal class='col-4 control-label'>{{ form.blacklist_sellers.label }}</labla>
								<div class='col-8'>{{ form.blacklist_sellers}}</div>
							</div>

							<div class='col-offset-2 col-10'>
								<button type='submit' class='btn btn-primary'>登録</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}