{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}出品共通項目設定{% endblock %}

{% block header %}
      
{% endblock %}

{% block contents %}
	<div class="section-header">
		<h1> 出品共通項目設定 </h1>
	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">
               <div class="card">
                    <div class="card-body">
                        <form id="main-form" class="form-horizontal" role="form" method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="option-button text-right">
                                <button type="submit" class="btn btn-primary">保存</button>
                                <button type="button" class="btn btn-primary" id = "add_btn">項目追加</button>
                            </div>
                            <div
                                class="table table-hover sticky-table mt-2">
                                {% render_table table %}
                            </div>
                                <!-- <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">登録</button>
                                </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // 行追加ボタンクリック時に入力行を追加する
        $("#add_btn").on("click",function(event){
            event.preventDefault()

            // input-formの末尾に追加
            $('.table-container tbody').append(
                `<tr name="item_row" data-id="55" class="align-middle even">                        
                    <td><div><input class="form-control" type="text" name="add_column_id" value=""></div></td>  
                    <td><div><input class="form-control" type="text" name="add_column_name" value=""></div></td>  
                    <td><div><input class="form-control" type="text" name="add_column_value" value=""></td>
                    <td></td>
                </tr>`)
        })

    </script>
{% endblock %}
